body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start_button {
  width: 20vh;
  height: 10vh;
  background-color: red;
  border-radius: 10px;;
}

.board {
  width: 90vh;
  height: 90vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.card_container {
  position:relative;
}

.card_container, .card_front, .card_back {
  width: 20vh;
  height: 20vh;
  perspective:1000;
}

.card_front, .card_back {
  backface-visibility:hidden;
  position:absolute;
  transition: all .3s linear;
  top:0;
  left:0;
  pointer-events: none;
}

.card_front {
  z-index: 2;
  background-color: beige;
}

.card_back {
  transform:rotateY(180deg);
}

.card_front_flipped {
  transform:rotateY(-180deg);
}

.card_back_flipped {
  transform:rotateY(0deg);
}

.card_front:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card_back[data-card="A"] {
  background-color: green;
}

.card_back[data-card="B"] {
  background-color: blue;
}

.card_back[data-card="C"] {
  background-color: yellow;
}

.card_back[data-card="D"] {
  background-color: red;
}

.card_back[data-card="E"] {
  background-color: orange;
}

.card_back[data-card="F"] {
  background-color: pink;
}

.card_back[data-card="G"] {
  background-color: beige;
}

.card_back[data-card="H"] {
  background-color: purple;
}
