body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  width: inherit;
  height: inherit;
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.win_state {
  height: 30vh;
  width: 30vw;
  background-color: beige;
  border: 2px solid black;
  border-radius: 25px;
  position: absolute;
  align-self: center;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner {
  height: 15vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  height: 15vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer, .turns {
  background-color: orange;
  height: 10vh;
  width: 10vw;
}

.start_button {
  width: 20vh;
  height: 10vh;
  background-color: red;
  border-radius: 10px;;
}

.board {
  width: 90vh;
  height: 90vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.card_container {
  position: relative;
  pointer-events: auto;
}

.card_container, .card_front, .card_back {
  width: 20vh;
  height: 20vh;
  perspective: 1000;
}

.card_front, .card_back {
  backface-visibility: hidden;
  position: absolute;
  transition: all .3s linear;
  top: 0;
  left: 0;
  pointer-events: none;
}

.card_front {
  z-index: 2;
  background-color: darkblue;
}

.card_back {
  transform: rotateY(180deg);
}

.card_front_flipped {
  transform: rotateY(-180deg);
}

.card_back_flipped {
  transform: rotateY(0deg);
}

.card_front:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card_back[data-letter="A"] {
  background-color: green;
}

.card_back[data-letter="B"] {
  background-color: blue;
}

.card_back[data-letter="C"] {
  background-color: yellow;
}

.card_back[data-letter="D"] {
  background-color: red;
}

.card_back[data-letter="E"] {
  background-color: orange;
}

.card_back[data-letter="F"] {
  background-color: pink;
}

.card_back[data-letter="G"] {
  background-color: beige;
}

.card_back[data-letter="H"] {
  background-color: purple;
}
