
/*------ Base Code / Iphone 6 Plus 414px * 736px------*/

@font-face {
  font-family: chalkboard3;
  src: url('../fonts/chalkIt.ttf');
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/table.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game {
  width: 100vw;
  height: 30vh;
  margin-top: 2vh;
  position: relative;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.win_state {
  width: 90vw;
  height: 30vh;
  background-color: black;
  border: 10px ridge #86562A;
  background-image: url('../images/blackboard.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'chalkboard3';
  color: white;
  box-shadow: 4px 4px 15px black;
  position: absolute;
  align-self: center;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: win_state_offset .5s forwards;
}

.winner {
  width: 83vw;
  height: 30vh;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6em;
}

.stats {
  width: 83vw;
  height: 40vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 4em;
}

.counters {
  width: 70vw;
  height: 30vh;
  border: 10px ridge #86562A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: white;
  background-color: black;
  background-image: url('../images/blackboard.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'chalkboard3';
  font-size: 5em;
}

.count_down {
  width: 50vw;
  height: 20vh;
  background-color: black;
  border: 10px ridge #86562A;
  background-image: url('../images/blackboard.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'chalkboard3';
  color: white;
  box-shadow: 4px 4px 15px black;
  position: absolute;
  align-self: center;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  margin: 0;
  opacity: 1;
}

.count_down_offset {
  animation-name: count_down_offset;
  animation-duration: .5s;
}

.timer, .time_number, .seconds, .turn_count, .turn_number, .turns {
  margin: 0 2vw 0 0;
}

.start_button {
  width: 40vh;
  height: 8vh;
  margin-bottom: 1vh;
  background-color: #254F58;
  border-radius: 10px;;
  color: white;
  z-index: 200;
  font-size: 4em;
}

button:focus {
  outline: 0;
}

.start_button:hover, .restart:hover {
  cursor: pointer;
}

.board {
  width: 95vw;
  height: 95vw;
  background-image: url('../images/board2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 6px ridge lightgrey;
  border-radius: 15px;
  box-shadow: 4px 4px 10px black;
  padding: 0 2px 2px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  z-index: 1;
}

.cards_div {
  width: 95vw;
  height: 95vw;
  padding: 0 2px 2px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  z-index: 2;
}

:root {
  --animation-time: 200s;
}

.card_container {
  position: relative;
  pointer-events: auto;
  animation: offset var(--animation-time) ease-in;
}

.offset_1 {
  transform: translateX(200px);
}

.card_container, .card_front, .card_back {
  width: 22vw;
  height: 22vw;
  perspective: 1000;
}

.card_front, .card_back {
  backface-visibility: hidden;
  position: absolute;
  transition: all .3s linear;
  top: 0;
  left: 0;
  pointer-events: none;
  box-shadow: 2px 2px 5px black;
}

.card_front {
  z-index: 2;
  background-image: url('../images/cardback2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_back {
  transform: rotateY(180deg);
}

.card_front_flipped {
  transform: rotateY(180deg);
  transition: all .3s linear;
}

.card_back_flipped {
  transform: rotateY(0deg);
  transition: all .3s linear;
}

.card_container:hover {
  cursor: pointer;
}

.card_back[data-letter="A"] {
  background-image: url('../images/flags/sweden.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.card_back[data-letter="B"] {
  background-image: url('../images/flags/belize.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.card_back[data-letter="C"] {
  background-image: url('../images/flags/swaziland.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.card_back[data-letter="D"] {
  background-image: url('../images/flags/argentina.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.card_back[data-letter="E"] {
  background-image: url('../images/flags/yemen.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.card_back[data-letter="F"] {
  background-image: url('../images/flags/ukraine.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.card_back[data-letter="G"] {
  background-image: url('../images/flags/honduras.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.card_back[data-letter="H"] {
  background-image: url('../images/flags/iraq.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

@keyframes offset {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes count_down_offset {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1000px);
  }
}

@keyframes count_down_in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes win_state_offset {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes win_state_back {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(2000px);
  }
}
/*------ Desktop ------*/

@media screen and (min-width: 1200px)  {

  body {
    height: 96vh;
  }

  .game {
    width: inherit;
    height: inherit;
    position: absolute;
    flex-direction: column;
  }

  .win_state {
    height: 50vh;
    width: 70vh;
  }

  .winner {
    height: 25vh;
    width: 65vh;
    margin-bottom: 0;
    font-size: 3em;
  }

  .stats {
    height: 25vh;
    width: 65vh;
    margin: 0;
    font-size: 2em;
  }

  .counters {
    height: 30vh;
    width: 23vw;
    margin-left: 2vw;
    font-size: 1.8em;
  }

  .seconds, .turns {
    margin: 0;
  }

  .start_button {
    width: 40vh;
    font-size: 2em;
  }

  .board {
    width: 87vh;
    height: 90vh;
  }

  .card_container, .card_front, .card_back {
    width: 20vh;
    height: 20vh;
  }
}
